<h3>予約済み一覧</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計金額</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>

    <% room = Room.find(reservation.room_id)%>
    <% day = reservation.checkout - reservation.checkin %>
    <% days = day.to_i %>
    <% cost = room.charge * days * reservation.guest %>
    
    <tr>
      <td><%= image_tag room.image.blank? ? 'default-room' :room.image.url , size: "120x70"  %></td>
      <td><%= room.name%></td>
      <td><%= room.detail%></td>
      <td><%= number_to_currency(cost, :unit => "￥",:precision => 0) %></td>
      <td><%= reservation.checkin.strftime("%Y/%m/%d") %></td>
      <td><%= reservation.checkout.strftime("%Y/%m/%d") %></td>
      <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
  <% end %>
  
</tbody>
</table>