<div class='room-index-search'>
  <%= form_with url: rooms_path, method: :get, local: true do |f| %>
    <%= f.text_field :search_area, placeholder: "エリア名を入力", class: "form-group"%>
    <%= f.text_field :search_keyword, placeholder: "キーワードを入力", class: "form-group"%>
    <%= f.submit "検索" ,class: "btn btn-primary"%>
  <% end %>
</div>

<h4><%= "#{Room.count}件が見つかりました。" %></h4>

<div class='room-index'>
  <% @rooms.each do |room| %>
    <%= image_tag room.image.blank? ? 'default-room' :room.image.url , size: "120x70"  %>
    <%= link_to "#{room.name}", room %>
    <%= room.address %>
    <span>★★★★★</span>
    <%= room.detail %>
    <%= number_to_currency(room.charge, :unit => "￥",:precision => 0) %>~
    <%= room.created_at.strftime("%Y/%m/%d")  %>
    <%= link_to(room_path(room.id)) do %>詳細はこちら<% end %>
  <% end %>
</div>
